<div *ngIf="item">
  <h2>{{item.id}} Details</h2>
  <div>
    <label>
      Id:
      <input placeholder="{{item.id}}" readonly />
    </label>
  </div>

  <div>
    <label>
      IdProduto:
      <input placeholder="{{item.idProduto}}" readonly />
    </label>
  </div>

  <div>
    <label>
      IdMaterial:
      <input placeholder="{{item.idMaterial}}" readonly />
    </label>
  </div>

  <div>
    <label>
      IdAcabamento:
      <input placeholder="{{item.idAcabamento}}" readonly />
    </label>
  </div>

  <div>
    <label>
      Altura:
      <input placeholder="{{item.altura}}" readonly />
    </label>
  </div>

  <div>
    <label>
      Largura:
      <input placeholder="{{item.largura}}" readonly />
    </label>
  </div>

  <div>
    <label>
      Profundidade:
      <input placeholder="{{item.profundidade}}" readonly />
    </label>
  </div>
</div>

